cyclone_abrupt-4xCO2_country_year.csv
cyclone_historical_country_year.csv
drought_abrupt-4xCO2_country_year.csv
drought_historical_country_year.csv
heat_abrupt-4xCO2_country_year.csv
heat_historical_country_year.csv
marine_hw_abrupt-4xCO2_country_year.csv
marine_hw_historical_country_year.csv
precip_historical_country_year.csv
sea_level_abrupt-4xCO2_country_year.csv
sea_level_historical_country_year.csv
snow_abrupt-4xCO2_country_year.csv
snow_historical_country_year.csv
wildfire_abrupt-4xCO2_country_year.csv
wildfire_historical_country_year.csv
dataframes/*.csv
